.react-mapbox-ac-menu {
	position: absolute;
	z-index: 9999;
	background-color: #fff;
	border: 1px solid #ccc;
	width: 95%;
}

.react-mapbox-ac-input {
	width: 95% !important;
}

.react-mapbox-ac-suggestion {
	font-size: 14px;
	cursor: pointer;
	padding: .5rem 1.5rem;
}

.react-mapbox-ac-suggestion.active, .react-mapbox-ac-suggestion:hover {
	background-color: #58a;
}

.close-icon {
  position: absolute;
	top: 30px;
	background: none;
  right: -15px;
	cursor: pointer;
	z-index: 1;
	font-weight: bold !important;
}

/* clears the 'X' from Internet Explorer */
input.react-mapbox-ac-input::-ms-clear {  display: none; width : 0; height: 0; }
input.react-mapbox-ac-input::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input.react-mapbox-ac-input::-webkit-search-decoration,
input.react-mapbox-ac-input::-webkit-search-cancel-button,
input.react-mapbox-ac-input::-webkit-search-results-button,
input.react-mapbox-ac-input::-webkit-search-results-decoration { display: none; }
