{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true,
    "process": true,
    "fetch": true,
    "beforeAll": true,
    "jest": true,
    "test": true,
    "expect": true,
    "describe": true,
    "afterEach": true
  },
  "rules": {
    "prefer-const": 1,
    "react/prefer-es6-class": 0,
    "react/jsx-filename-extension": 0,
    "react/prop-types": [
      1
    ],
    "react/no-array-index-key": [
      1
    ],
    "class-methods-use-this": [
      1
    ],
    "no-undef": [
      1
    ],
    "no-case-declarations": [
      1
    ],
    "no-return-assign": [
      1
    ],
    "no-param-reassign": [
      1
    ],
    "no-underscore-dangle": [
      0,
      "always"
    ],
  }
}